.App {
    text-align: center;
    background-color: black;
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    /*
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    color: white;
    /* width: 100vw */

  }
  
  /* .App-header {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */

  .size-name{
      font-size: 1.3rem;
      font-weight: bolder
  }

  .margin{
      padding-left: 25%;
      padding-top: 5%;
      margin-bottom: 0.1%;
      padding-bottom: 0%
  }

  .input-search{
      border-color: rgba(5, 113, 255, 0.801);
      background-color: black;
      width: 60%;
      border-width: thin;
      color: white;
      padding: 0.5%
  }

  .template{
      background:#17a2b8;
      border-radius:5px;
      height:80%;
      width:100%;
      margin-bottom: 6%
  }

  .input-bottom{
      margin-bottom: 5%
  }

  .margin-top{
      padding-left: 25%;
      margin-top: 0.1%;
      padding-top: 0%
  }

  .size{
      font-size: 300%;
      font-weight: 700
  }

  .size-p{
    font-size: 300%;
    font-weight: 200
}

.oculto{
    display:none;
}

@media only screen and (min-width: 769px){
    .margin{
        padding-left: 40%;
    }

    .margin-top{
        padding-left: 40%;
    }
}