.size-h1{
    font-size: 400%;
    font-weight: 700
}

.margin-h1{
    padding-top: 3%
}

.margin-info{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid rgb(192, 21, 21);
}

  
